coverage
mock
nose
pycodestyle==2.6.0
pyflakes==2.2.0
readme_renderer[md]==26.0
requests_mock
twine==3.2.0; python_version >= '3.2'
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
